PORT=5050
TZ=UTC
SESSION_SECRET=change-me
DATA_DIR=/data
DB_PATH=/data/mpod.sqlite
DOWNLOADS_DIR=/data/downloads
AUDIOBOOKS_DIR=/share/audio/abooks/
# AUDIOBOOKS_PATH=/path/to/your/audiobooks
DAILY_REFRESH_TIME=03:00
APP_ENV=production
APP_BUILD=dev

# Optional SOCKS5 proxy settings
SOCKS5_HOST=
SOCKS5_PORT=
SOCKS5_USERNAME=
SOCKS5_PASSWORD=
